@import "../../sass/main.scss";

.vehicle--extra-info {
  max-height: 0;
  overflow: hidden;
  transition: max-height .5s ease-out;

  p {
    border: $thin-grey-border;
    border-bottom: 0;
    font-size: $default-font-md;
    margin: 0;
    padding: 5px;
    text-align: left;

    &:last-of-type {
      border-bottom: $thin-grey-border;
    }
  }

  &.expand {
    max-height: 500px;
    transition: max-height .5s ease-in;
  }
}
