@import "../../sass/main.scss";

.container {
  display: grid;
  height: 100vh;
  place-items: center;
  $self: &;

  & > .spinner {
    animation: rotate .6s linear infinite;
    border: 3px solid $green;
    border-radius: 50%;
    border-top: 3px solid $silver;
    height: 50px;
    width: 50px;
  }

  @keyframes rotate {

    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}

.container-inline {
  display: inline-block;

  & > .spinner {
    animation: rotate .6s linear infinite;
    border: 3px solid $green;
    border-radius: 50%;
    border-top: 3px solid $silver;
    height: 50px;
    width: 50px;
  }
}
