*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  outline-color: $tertiary;
  padding: 0;
}

html {
  font-size: 50%;

  scroll-behavior: smooth;

  @include md {
    font-size: 62.5%;
  }
}

body {

  animation-duration: .5s;
  animation-name: appear;
  animation-timing-function: ease-in-out;
  background-color: $white;
  box-sizing: border-box;
  height: 100vh;
  overflow-x: hidden;
  width: 100%;

  @keyframes appear {

    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}

a {
  text-decoration: none;
  transition: color .3s ease-in;
}

ul {
  list-style-type: none;
}

button {
  border: 0;
  cursor: pointer;
  transition: 300ms;

  &:hover {
    filter: brightness(90%);
    transform: translateY(-.3rem);
  }
}
