@mixin flexmiddle {
  display: flex;
  justify-content: center;
}

@mixin flexspacebtw {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

@mixin flex-col-center {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}