// colors
$primary: #333333;
$secondary: #484848;
$tertiary: #828282;
$grey: #e5e5e5;
$white: #fff;
$black: #000;
$silver: #c4c4c4;
$green: #008488;
$indigo: #ebebf2;
$red: #b93232;

/* fontsizes */
$default-font-xs: 1.2rem;
$default-font-sm: 1.4rem;
$default-font-md: 1.6rem;
$default-font-lg: 1.8rem;

$default-font-family: "Roboto", sans-serif;
$secondary-font-family: "Inter", sans-serif;

$thin-grey-border: 0.2px solid $indigo;
