@import "../../sass/main.scss";

.modal {
  background-color: rgba(0, 0, 0, .7);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.modal.open {
  align-items: center;
  display: flex;
  justify-content: center;
}

.modal-dialog {
  background-color: #fff;
  border-radius: 12px;
  max-width: 80%;
  overflow: hidden;
  padding: 1rem;
  position: relative;
  width: 500px;
}

.modal-header {
  align-items: center;
  background-color: $green;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.modal-content {
  padding: 1rem;
}

.close-button {
  background: none;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 24px;
}

@media (max-width: 768px) {

  .modal-dialog {
    max-width: 90%;
  }
}
